# Ignore `bin` dir
*/bin/*

# Ignore bin
bin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

#data files
*.dat
*.txt

*.pyc
